SELF_PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=3v3nt4r0
DB_DATABASE=eventaro

JWT_SECRET=asdfsdfads?asadsfasdfsa3v3nt4r0

SMTP_HOST=xxxxxx
SMTP_PORT=xxxxx
USER_SMTP=xxxxxxxxx
PASSWORD_SMTP=xxxxxxxxxxx