SELF_PORT=5000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=3v3nt4r0
DB_DATABASE=eventaro

JWT_SECRET=asdfsdfads?asadsfasdfsa3v3nt4r0
API_KEY_MAPBOX=pk.eyJ1IjoiZGVzZWN0b3IxMjMiLCJhIjoiY21icGtwdmFmMDI4NDJtcTR4enZyNHVjayJ9.Yd6HYTXdSN6XRYjxD0vdjw

SERVICE_SMTP=gmail
USER_SMTP=coronadoc899@gmail.com
PASSWORD_SMTP=wzrorwpvhquojpru